html, *, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #5C6B74;
    font-family: 'roboto', sans-serif;
}

h1, h2 {
    font-family: 'Mouse Memoirs', sans-serif;
}

p {
    margin-bottom: 5px;
}